FLASK_RUN_PORT=5001
SQLALCHEMY_DATABASE_URI='postgresql+psycopg2://psgf:ebaeba18@127.0.0.1/psgf'
SQLALCHEMY_TRACK_MODIFICATIONS=False
SECRET_KEY='142857'
SQLALCHEMY_ECHO = True
debug=True
USER_ENABLE_EMAIL = True
USER_APP_NAME = 'psgf'
USER_COPYRIGHT_YEAR = "2020"
USER_AFTER_REGISTER_ENDPOINT = 'user.login'
USER_AFTER_LOGOUT_ENDPOINT = 'user.login'
USER_AFTER_RESEND_EMAIL_CONFIRMATION_ENDPOINT = 'user.login'
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_SSL = True
MAIL_USE_TLS = False
MAIL_USERNAME = 'assismauro64@gmail.com'
MAIL_DEFAULT_SENDER = 'assismauro64@gmail.com'
MAIL_PASSWORD = 'xqltcibirruahbwv'

LANGUAGES = {
    'en': 'English',
    'es': 'Español',
    'ca': 'Català'
}

# credentials for loading map tiles from mapbox
MAPBOX_MAP_ID = r'assismauro/ck0qo91va3jhz1cmxlexwu6q4'
MAPBOX_ACCESS_TOKEN = 'pk.eyJ1IjoiYXNzaXNtYXVybyIsImEiOiJja2lyZXkxNDEwNWlxMnJsaXpodGltbTdkIn0.hctMSR4XNqePvklbZW9zcw'

# when the creating new shapes, use this default map center
DEFAULT_CENTER_LAT = 40.760000
DEFAULT_CENTER_LONG = -1.000000